.logo {
    height:25px;
    margin-right:20px;
}

.navbar-form .form-group {
    display: inline;
}

.thumbnail {
    margin-bottom: 20px;
}

.item-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.review-stars {
    margin: 0px 10px;
    color: darkblue;
}
