@model ProjetFinal.Models.HomeModel

@{
    ViewBag.Title = "Livres";
}

<div class="row">
    <div class="col-md-3">
        <p class="lead">
            @ViewBag.Title
        </p>
        <div class="list-group">
            <a href="#" class="list-group-item">PC</a>
            <a href="#" class="list-group-item">PS4</a>
            <a href="#" class="list-group-item">Xbox One</a>
            <a href="#" class="list-group-item">Wii U</a>
            <a href="#" class="list-group-item">Others</a>
        </div>
    </div>
    <div class="col-md-9">
        @foreach (var bookModelChunk in Model.GetBookChunks(3))
        {
            <div class="row">
                @foreach(var bookModel in bookModelChunk)
                {
                    @Html.DisplayFor(m => bookModel)
                }
            </div>
        }
    </div>
</div>
