@model ProjetFinal.Models.HomeModel

@{
    ViewBag.Title = "Atlas - La boutique de livres électroniques de référence.";
    string defaultCategory = "Tous";
}

<div class="row">
    <div class="col-md-3">
        <p class="lead">
            @ViewBag.Title
        </p>
        <div class="list-group">
            @Html.ActionLink(defaultCategory, "Index", "Home", routeValues: null, htmlAttributes: new { @class = Model.currentCategory == defaultCategory ? "list-group-item active" : "list-group-item" })
            @foreach (string category in Model.Categories)
            {
                @Html.ActionLink(category, "Index", "Home", new { searchString = "", category = category }, new { @class = Model.currentCategory == category ? "list-group-item active" : "list-group-item" })
            }
        </div>
    </div>
    <div class="col-md-9">
        @foreach (var bookModelChunk in Model.GetBookChunks(3))
        {
            <div class="row">
                @foreach(var bookModel in bookModelChunk)
                {
                    @Html.DisplayFor(m => bookModel)
                }
            </div>
        }
    </div>
</div>
